@import "tailwindcss";

@layer base {
  body {
    @apply m-0 text-[2rem] h-[100dvh] sm:text-base bg-gray-100;
  }
  #root {
    @apply h-[100dvh];
  }
  
  input {
    @apply text-black;
    color: #000000 !important;
  }
  
  input::placeholder {
    @apply text-gray-500;
    color: #999999 !important;
  }
}